@keyframes money-rotating {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(-50%) rotate(6deg);
  }
  75% {
    transform: translateX(-50%) rotate(-6deg);
  }
  100% {
    transform: translateX(-50%);
  }
}