@keyframes person-moving {
  0% {
    transform: translateY(-50%);
  }
  25% {
    transform: translateY(calc(-50% - 4px));
  }
  75% {
    transform: translateY(calc(-50% + 8px));
  }
  100% {
    transform: translateY(-50%);
  }
}